<div class="card">
  <div class="card-body">

    <div class="card-title">
      <span id="title"><strong>  Appointments</strong></span>
      <a routerLink="/list" class="btn-primary btn float-right" *ngIf="auth.isLoggedIn()">List View</a>
    </div>
    <a routerLink="/">
      back</a>
  </div>
  <app-calendar (appointmentSelected)="onAppointmentSelected($event)" [parentRefreshed]="refreshedOn"></app-calendar>
  <app-student-schedule-modal [selectedAppointment]="selectedAppointment" [professor]="professor" (appointmentChanged)="onAppointmentChanged($event)"></app-student-schedule-modal>
  <app-student-cancel-modal [selectedAppointment]="selectedAppointment" [professor]="professor" (appointmentChanged)="onAppointmentChanged($event)"></app-student-cancel-modal>
  <app-student-pending-modal [selectedAppointment]="selectedAppointment" [professor]="professor" (appointmentChanged)="onAppointmentChanged($event)"></app-student-pending-modal>
  <app-professor-confirm-modal [selectedAppointment]="selectedAppointment" [professor]="professor" (appointmentChanged)="onAppointmentChanged($event)"></app-professor-confirm-modal>
  <app-professor-scheduled-modal [selectedAppointment]="selectedAppointment" [professor]="professor" (appointmentChanged)="onAppointmentChanged($event)"></app-professor-scheduled-modal>
  <app-professor-uncancel-modal [selectedAppointment]="selectedAppointment" [professor]="professor" (appointmentChanged)="onAppointmentChanged($event)"></app-professor-uncancel-modal>
</div>