<!-- Modal -->
<div class="modal fade" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Password Reset</h5>
        <button id="reset-password-dismiss-button" type="button" (click)="resetValues()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" *ngIf="errors.result">{{errors.result}}</div>
        <form>
          <div class="form-group">
            <label for="password-reset">Password</label>
            <input [(ngModel)]="password" name="password-reset" type="password" id="password-reset" class="form-control" [class.is-invalid]="errors.password"
              autocomplete="new-password">
            <div class="invalid-feedback" *ngIf="errors.password">{{errors.password}}</div>
          </div>
          <div class="form-group">
            <label for="confirmPassword-{{professorID}}">Confirm Password</label>
            <input [(ngModel)]="confirmPassword" name="confirmPassword-reset" type="password" id="confirmPassword-{{professorID}}" class="form-control"
              [class.is-invalid]="errors.confirmPassword" autocomplete="new-password">
            <div class="invalid-feedback" *ngIf="errors.confirmPassword">{{errors.confirmPassword}}</div>
          </div>
          <button class="btn btn-primary" (click)="resetPassword()">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>