.navbar-default {
  background-color: #f2f0e8;
  margin-bottom: 2%;
}
/* Title */
.navbar-default .navbar-brand {
  color: #6d6d6d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
}
/* Link */
.navbar-default .navbar-nav > li > a {
  color: #6d6d6d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #d5d5d5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #6d6d6d;
  border-bottom-color: #6d6d6d;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #000;
  border-bottom-color: #000;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #6d6d6d;
  border-bottom-color: #6d6d6d;
}
/* Mobile version */
.navbar-default .navbar-toggle {
  border-color: #6d6d6d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #6d6d6d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6d6d6d;
}
