/* You can add global styles to this file, and also import other style files */
body {
  background-color: #a71930;
}


.btn-danger {
  background-color: lightcoral;
}

.btn-warning {
  background-color: lightgoldenrodyellow;
}

.btn-success {
  background-color: lightgreen;
}

.btn-primary {
  background-color: lightblue;
}

.btn {
  color: black;
}
