<!-- Modal -->
<div class="modal fade" id="professorUncancelAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="professorUncancelAppointmentModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule Appointment</h5>
        <button id="professor-uncancel-dismiss-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body" *ngIf="professor">
        <form>
          <div class="form-group">
            <strong>Professor: </strong><span>{{professor.name}}</span>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <strong>Date: </strong><span>{{selectedAppointment.dateTime | date: 'mediumDate'}}</span>
            </div>
            <div class="form-group col-md-5">
              <strong>Time: </strong><span>{{selectedAppointment.dateTime | date: 'shortTime'}}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="uncancelAppointment()">Uncancel Appointment</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>