.btn-danger {
  background-color: lightcoral;
}

.btn-warning {
  background-color: lightgoldenrodyellow;
}

.btn-success {
  background-color: lightgreen;
}

.btn-primary {
  background-color: lightblue;
}
