<div class="card">
  <div class="card-body">
    <div>
      <strong>Professor Name: </strong>
      <span>{{professor.name}}</span>
    </div>
    <div>
      <strong>Email: </strong>
      <span>{{professor.email}}</span>
    </div>
    <div>
      <strong>Room Number: </strong>
      <span>{{professor.roomNumber}}</span>
    </div>
    <div>
      <strong>Title: </strong>
      <span>{{professor.title}}</span>
    </div>
    <div>
      <strong>Status: </strong>
      <span>{{professor.active ? 'Active': 'Inactive'}}</span>
    </div>
    <div>
      <button class="btn btn-warning float-right">Edit</button>
      <button class="btn float-right" [class.btn-success]="!professor.active" [class.btn-danger]="professor.active" (click)="toggleActivate()">{{professor.active ? 'Deactive' : 'Activate'}}</button>
      <button class="btn float-right" [class.btn-success]="!professor.admin" [class.btn-danger]="professor.admin">{{professor.admin ? 'Revoke Admin' : 'Grant Admin'}}</button>

    </div>
  </div>
</div>