<div>

  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <span id="title"><strong>  Appointments</strong></span>
        <a routerLink="/calendar" *ngIf="auth.isLoggedIn()" class="btn-primary btn float-right">Calendar View</a>
      </div>
      <br>
      <div *ngFor="let appointment of appointments">

        <app-appointment-list-view-item [appointment]="appointment" (appointmentRejected)="onAppointmentRejected($event)"></app-appointment-list-view-item>
      </div>
    </div>

  </div>
  <app-cancelled-appointments-list-view [professorID]="professorID"></app-cancelled-appointments-list-view>
</div>