<div class="card">
  <div class="card-body">

    <div class="float-right text-center">
      <div>
        <strong>Week</strong>
      </div>
      <button class="btn btn-primary" (click)="getPreviousWeek()"><<</button>
      <button class="btn btn-primary" (click)="getNextWeek()">>></button>

    </div>
    <div class="float-right text-center" style="margin-right: 30px">
      <div>
        <strong>Month</strong>
      </div>
      <button class="btn btn-primary" (click)="getPreviousMonth()"><<</button>
      <button class="btn btn-primary" (click)="getNextMonth()">>></button>

    </div>
    <div class="table-responsive">
      <table class="table" id="calendarTable" (click)="handleTableClick($event)">
        <thead>
          <tr>
            <th></th>
            <th>Monday {{days[0] | date: 'MM/dd'}}</th>
            <th>Tuesday {{days[1] | date: 'MM/dd'}}</th>
            <th>Wednesday {{days[2] | date: 'MM/dd'}}</th>
            <th>Thursday {{days[3] | date: 'MM/dd'}}</th>
            <th>Friday {{days[4] | date: 'MM/dd'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let time of times">
            <td>{{time | date: 'shortTime'}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>