<!-- Modal -->
<div class="modal fade" id="professorConfirmModal" tabindex="-1" role="dialog" aria-labelledby="professorConfirmModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confrim Appointment</h5>
        <button id="student-cancel-dismiss-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
      </div>
      <div class="modal-body" *ngIf="professor">
        <div>
          <strong>Professor: </strong><span>{{professor.name}}</span>
        </div>
        <div class="row">
          <div class="col-md-4">
            <strong>Date: </strong><span>{{selectedAppointment.dateTime | date: 'mediumDate'}}</span>
          </div>
          <div class="col-md-4">
            <strong>Time: </strong><span>{{selectedAppointment.dateTime | date: 'shortTime'}}</span>
          </div>
        </div>
        <div>
          <strong>First Name: </strong><span>{{selectedAppointment.firstName}}</span>
        </div>
        <div>
          <strong>Last Name: </strong><span>{{selectedAppointment.lastName}}</span>
        </div>
        <div>
          <strong>Email: </strong><span>{{selectedAppointment.email}}</span>
        </div>
        <div>
          <strong>Banner ID: </strong><span>{{selectedAppointment.bannerID}}</span>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="acceptAppointment()">Accept</button>
          <button class="btn btn-danger" (click)="rejectAppointment()">Reject</button>
          <button class="btn btn-warning" (click)="rescheduleAppointment()">Reschedule</button>

        </div>


      </div>
    </div>
  </div>
</div>